In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_most_valuable_companies_in_India'
page= requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [3]:
most_valuable_by_market_cap_2023=soup.find_all('table')[1]
titles2023 = most_valuable_by_market_cap_2023.find_all('th')

In [4]:
fields2023 = [title.text.strip() for title in titles2023]

In [5]:
df = pd.DataFrame(columns=fields2023)
df

Empty DataFrame
Columns: [Rank, Company name, Sector, Market capitalization (Rs Cr)]
Index: []

In [6]:
data2023 = most_valuable_by_market_cap_2023.find_all('tr')[1:]
data2023

[<tr>
 <td>1
 </td>
 <td>Reliance Industries
 </td>
 <td>Oil Exploration and Production
 </td>
 <td>15.66
 </td></tr>,
 <tr>
 <td>2
 </td>
 <td>TATA Consultancy Services (TCS)
 </td>
 <td>Information Technology
 </td>
 <td>12.19
 </td></tr>,
 <tr>
 <td>3
 </td>
 <td>HDFC Bank
 </td>
 <td>Banking
 </td>
 <td>11.29
 </td></tr>,
 <tr>
 <td>4
 </td>
 <td>ICICI Bank
 </td>
 <td>Banking
 </td>
 <td>6.54
 </td></tr>,
 <tr>
 <td>5
 </td>
 <td>Hindustan Unilever (HUL)
 </td>
 <td>Consumer Goods
 </td>
 <td>5.81
 </td></tr>,
 <tr>
 <td>6
 </td>
 <td>Infosys
 </td>
 <td>Information Technology
 </td>
 <td>5.70
 </td></tr>,
 <tr>
 <td>7
 </td>
 <td>ITC
 </td>
 <td>Consumer Goods
 </td>
 <td>5.43
 </td></tr>,
 <tr>
 <td>8
 </td>
 <td>Bharti Airtel
 </td>
 <td>Telecommunications
 </td>
 <td>5.25
 </td></tr>,
 <tr>
 <td>9
 </td>
 <td>State Bank of India (SBI)
 </td>
 <td>Banking
 </td>
 <td>5.18
 </td></tr>,
 <tr>
 <td>10
 </td>
 <td>Bajaj Finance
 </td>
 <td>Financial Services
 </td>
 <td>4.46
 </td></tr>]

In [7]:
for row in data2023:
    row_data = row.find_all('td')
    isolate_row_data = [data.text.strip() for data in row_data]
    # print(isolate_row_data)
    number_of_rows = len(df)
    # loc is used to access a group of rows and columns by label(s) or a boolean array.
    df.loc[number_of_rows] = isolate_row_data

In [8]:
df.to_csv('../data/most_valuable_by_market_cap_2023.csv', index=False)